  		<div class="input_group">
            {{ form_label(form.dat_title) }}
            {{ form_errors(form.dat_title) }}
        </div>  		
  		
         <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
            {{ form_widget(form.dat_title) }}
          </div>

        <div class="input_group">
            {{ form_label(form.dat_description) }}
            {{ form_errors(form.dat_description) }}
        </div>
           <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                {{ form_widget(form.dat_description) }}
          </div>
		  <div class="input_group">
            {{ form_label(form.dat_start) }}
            {{ form_errors(form.dat_start) }}
          </div>
           <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                {{ form_widget(form.dat_start) }}
          </div>
		  <div class="input_group">
            {{ form_label(form.dat_end) }}
            {{ form_errors(form.dat_end) }}
          </div>
           <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                {{ form_widget(form.dat_end) }}
          </div>
          <div class="input_group">
            {{ form_label(form.dat_lat) }}
          </div>
           <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                {{ form_widget(form.dat_lat) }}
               
          </div>
		  <div class="input_group">
            {{ form_label(form.dat_lng) }}
          </div>
           <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                {{ form_widget(form.dat_lng) }}
          </div>		
		  <div class="input_group">
            {{ form_label(form.dat_href) }}
          </div>
           <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                {{ form_widget(form.dat_href) }}
          </div>			
		  <div class="input_group">
            {{ form_label(form.dat_link_title) }}
          </div>
           <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                {{ form_widget(form.dat_link_title) }}
          </div>		
		  		
		  		
		  		
		  		
		  		